*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    height: 100vh;
}
.left{
    background-color:rgb(142, 203, 212) ;
    padding: 50px;
    padding-right: 100px;
    width: 300px;
    overflow-y: scroll;
}
.left h1{
    text-align: center;
    margin-bottom: 20px;
}
.timeline{
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-left:3px double rgb(246, 251, 253);
}
.timeline section{
    position: relative;
    padding-left: 15px;
}
.timeline h2{
    cursor: pointer;
}
.circle{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(80, 80,97);
    left: -6px;
    border-radius: 50%;
}
.display-none{
    display: none;
}
p{
    margin-top: 10px;
}
.right a{
    display: block;
    padding: 10px 100px;
    text-decoration: solid;
    color: black;
    text-align: center;
} 
.right li{
    float: left;

}
.right ul{
    overflow: hidden;
    background-color:bisque;
    text-align: center;
    margin-top:10px
}
.right li:hover{
    background-color:rgb(209, 180, 147);
    font-size: 130%;

}
.right{
    background-color:bisque;
    padding-right:285px;
}